<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="/api/titleImage/{{ data.title.id }}/64"
      [matMenuTriggerFor]="titleMenu"
    />
    <mat-card-title>{{ data.title.name }}</mat-card-title>
    <mat-card-subtitle
      >Released: {{ getReleaseDate() | date: 'shortDate' }} -
      {{ data.title.size | fileSize }}</mat-card-subtitle
    >
  </mat-card-header>
  <br />
  <img
    mat-card-image
    src="/api/bannerImage/{{ data.title.id }}"
    [alt]="data.title.name"
    width="20%"
  />
  <mat-card-content>
    {{ data.title.intro }}
    <p class="scroll">{{ data.title.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div align="end">
      <button mat-button (click)="copyId(data.title)">Copy ID</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-menu #titleMenu="matMenu">
  <a
    mat-menu-item
    href="https://ec.nintendo.com/apps/{{ data.title.id }}/US"
    target="_blank"
  >
    <mat-icon>shopping_bag</mat-icon>
    <span>Nintendo eShop</span>
  </a>
  <a
    mat-menu-item
    href="https://tinfoil.io/title/{{ data.title.id }}"
    target="_blank"
  >
    <mat-icon>launch</mat-icon>
    <span>Open in Tinfoil.io</span>
  </a>
  <a mat-menu-item href="/api/download/{{ data.title.id }}">
    <mat-icon>download</mat-icon>
    <span>Download Base</span>
  </a>
  <a
    mat-menu-item
    href="/api/download/{{ data.title.updateId }}"
    target="_blank"
    *ngIf="data.update"
    [disabled]="!data.update"
  >
    <mat-icon>update</mat-icon>
    <span>Download Update v{{ data.update.version }}</span>
  </a>
  <button
    mat-menu-item
    [matMenuTriggerFor]="dlcMenu"
    *ngIf="data.myDLCs.length || data.remoteDLCs.length"
  >
    <mat-icon>redeem</mat-icon>
    <span>DLC</span>
  </button>
  <button mat-menu-item mat-dialog-close>
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-menu>

<mat-menu #dlcMenu="matMenu">
  <a
    mat-menu-item
    *ngFor="let dlc of data.myDLCs"
    href="/api/download/{{ dlc.id }}"
  >
    <mat-icon>download</mat-icon>
    <span>{{ dlc.name || 'Unnamed DLC' }}</span>
  </a>
  <button mat-menu-item *ngFor="let dlc of data.remoteDLCs" disabled>
    <mat-icon>file_download_off</mat-icon>
    <span>{{ dlc.name || 'Unnamed DLC' }}</span>
  </button>
</mat-menu>
