<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fill">&nbsp;Nut</span>
  <mat-form-field>
    <mat-label>Filter Titles</mat-label>
    <input matInput [(ngModel)]="filter" placeholder="Ex. Mario" />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="filter = ''"
    >
      <mat-icon>{{ filter ? "close" : "search" }}</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>

<mat-grid-list [cols]="cols" (window:resize)="setCols()">
  <mat-grid-tile
    *ngFor="let title of filterTitles()"
    [colspan]="getGridSpan(title)"
    [rowspan]="getGridSpan(title)"
    (click)="titleDialog(title)"
  >
    <img [src]="getIcon(title)" [alt]="title.name" width="100%" />
    <mat-grid-tile-footer>
      <h4>{{ title.name }}</h4>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="organize()">
    <mat-icon>autorenew</mat-icon>
    <span>Organize Library</span>
  </button>
  <button mat-menu-item (click)="scan()">
    <mat-icon>saved_search</mat-icon>
    <span>Rescan Library</span>
  </button>
  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-slide-toggle [(ngModel)]="ownedOnly"
      >Owned Titles Only</mat-slide-toggle
    >
  </button>
</mat-menu>
