/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #414548;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a,
button,
mat-grid-tile,
.mat-card-avatar {
  cursor: url('/images/cursor.png'), auto !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #00c3e3 14%, #ff4554 50%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #00c3e3 14%, #ff4554 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

.fill {
  flex: 1 1 auto;
}
